body {
    margin: 0;
    min-height: 100vh;

    
    background:
        /* LUMIÈRE PRINCIPALE VIOLETTE */
        radial-gradient(
            circle at 70% 30%,
            #B936F5 0%,
            #7A2CF4 25%,
            transparent 60%
        ),

        /* LUMIÈRE ROSE SECONDAIRE */
        radial-gradient(
            circle at 30% 70%,
            #EB4468 0%,
            transparent 55%
        ),

        /* VOILE VIOLET */
        linear-gradient(
            135deg,
            #1A0B2E 0%,
            #12001F 100%
        );
}

.section1G {
    font-size: 15px;
    color: #FFFFFF;
    margin-left: 50px;
    margin-top: 10px;
    font-weight: 600;
    
}
.section1D{
    display: flex;
    gap: 30px;
    margin-left: 50px;
    color: #FFFFFF;
    list-style: none;
    padding: 20px 150px;
}
.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-login{
    font-size: 15px;
    line-height: 1;
    padding: 6px 12px;

    background-color:#f2f2f2;
    color: #4b1b7a;

    border: none;
    border-radius: 6px;
    cursor: pointer;
